In [1]:
import matplotlib.pyplot as plt
import datetime
import pandas as pd
import numpy as np
import seaborn as sns
from pandas.plotting import register_matplotlib_converters

from statsmodels.tsa.seasonal import MSTL
from statsmodels.tsa.seasonal import DecomposeResult
from tqdm import tqdm
import requests
import importlib
import NOAA
importlib.reload(NOAA)

In [2]:
api_token = "sxyXIHehvcZAUWtHvhgrcYDIMunQjlxL"  # Replace with your actual token
headers = {"token": api_token}
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/data"

In [3]:
station_d = {'NYC' : "GHCND:USW00094728" , 'PHI' :'GHCND:USW00013739',
             'SC':'GHCND:USC00368449','AA':'GHCND:USC00200228',
            'OX': "GHCND:USC00221389",'STL': "GHCND:USW00013994"}
data_type_list = ["TMAX", "TMIN", "PRCP", "SNOW"]
reverse_station_d = {v: k for k, v in station_d.items()}

In [4]:
start = ["2024-03-01","2023-03-01","2022-03-01"]
end = ["2025-03-01","2024-03-01","2023-03-01"]

In [22]:
city_data = []

## NY Data

In [6]:
nytemps = NOAA.get_noaa_data(station=station_d['NYC'], headers=headers, url=url,start = start, end = end)
nytemps['station'] = nytemps['station'].map(reverse_station_d)
city_data.append(nytemps)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:03<00:00,  1.09it/s]

In [7]:
# nytemps.info()
# print(nytemps.describe())
# nytemps.head()

## PHI Data

In [8]:
patemps = NOAA.get_noaa_data(station=station_d['PHI'], headers=headers, url=url,start = start, end = end)
patemps['station'] = patemps['station'].map(reverse_station_d)
city_data.append(patemps)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:03<00:00,  1.09it/s]

In [9]:
# patemps.info()
# print(patemps.describe())
# patemps.head()

## State College (SC - PA)

In [10]:
sctemps = NOAA.get_noaa_data(station=station_d['SC'], headers=headers, url=url,start = start, end = end)
sctemps['station'] = sctemps['station'].map(reverse_station_d)
city_data.append(sctemps)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:03<00:00,  1.09it/s]

In [11]:
# sctemps.info()
# print(sctemps.describe())
# sctemps.head()

## Ann Arbor

In [12]:
aatemps = NOAA.get_noaa_data(station=station_d['AA'], headers=headers, url=url,start = start, end = end)
aatemps['station'] = aatemps['station'].map(reverse_station_d)
city_data.append(aatemps)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:03<00:00,  1.08it/s]

In [13]:
# aatemps.info()
# print(aatemps.describe())
# aatemps.head()

## Oxford

In [23]:
oxtemps = NOAA.get_noaa_data(station=station_d['OX'], headers=headers, url=url,start = start, end = end)
oxtemps['station'] = oxtemps['station'].map(reverse_station_d)
city_data.append(oxtemps)

 75%|███████████████████████████████████████████████████████████████                     | 3/4 [00:02<00:00,  1.05it/s]

No data found for the given request.

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:03<00:00,  1.07it/s]

In [ ]:
# oxtemps.info()
# print(oxtemps.describe())
# oxtemps.head()

## St Louis

In [15]:
sltemps = NOAA.get_noaa_data(station=station_d['STL'], headers=headers, url=url,start = start, end = end)
sltemps['station'] = sltemps['station'].map(reverse_station_d)
city_data.append(sltemps)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:03<00:00,  1.05it/s]

In [16]:
# sltemps.info()
# print(sltemps.describe())
# sltemps.head()
current_data = pd.read_csv('city_weather_data.csv')
city_data.append(current_data)

NameError: name 'current_data' is not defined

In [17]:
city_data = pd.concat(city_data, ignore_index=True).drop_duplicates()

In [18]:
city_data.round(4).head()

  station        date   PRCP  SNOW   TMAX   TMIN
0     NYC  2022-03-01  0.000   0.0  48.02  31.10
1     NYC  2022-03-02  0.000   0.0  51.98  39.92
2     NYC  2022-03-03  0.315   0.0  48.02  24.26
3     NYC  2022-03-04  0.000   0.0  37.04  21.20
4     NYC  2022-03-05  0.000   0.0  46.04  32.00

In [19]:
city_data.to_csv("city_weather_data.csv",index=False)

In [20]:
df = pd.read_csv("city_weather_data.csv").round(2)

In [21]:
df.describe()

              PRCP         SNOW         TMAX         TMIN
count  6525.000000  6153.000000  6510.000000  6510.000000
mean      1.123022     0.045995    66.621355    47.763106
std       3.372931     0.340503    18.861420    17.229807
min       0.000000     0.000000     3.200000    -6.880000
25%       0.000000     0.000000    51.980000    33.980000
50%       0.000000     0.000000    69.080000    48.020000
75%       0.430000     0.000000    82.040000    62.960000
max      86.420000     8.390000   105.980000    84.920000